<?xml version="1.0" encoding="UTF-8"?>
<!-- 문서타입 mapper에서 configuration로 변경 옆에 PUBLIC 내의 모든 mapper도  Config로 변경해줘야함-->
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.shoestar.client.prod.vo.ProdVO" alias="prod"/>
		<typeAlias type="com.shoestar.client.prod.vo.ProdCtgVO" alias="prodctg"/>
		<typeAlias type="com.shoestar.client.login.vo.LoginVO" alias="login"/>
		<typeAlias type="com.shoestar.admin.adminLogin.vo.AdminLoginVO" alias="AdminLogin"/>
		<typeAlias type="com.shoestar.client.member.vo.MemberVO" alias="member"/>
		<typeAlias type="com.shoestar.admin.adminMember.vo.AdminMemberVO" alias="AdminMember"/>
		<typeAlias type="com.shoestar.client.event.vo.EventVO" alias="event" />
		<typeAlias type="com.shoestar.client.prod.vo.ProdColorVO" alias="prodcolor" />
		<typeAlias type="com.shoestar.client.prod.vo.ProdInsVO" alias="prodins" />
		<typeAlias type="com.shoestar.client.notice.vo.NoticeVO" alias="notice" />
		<typeAlias type="com.shoestar.client.prod.vo.ProdStockVO" alias="prodstock" />
		<typeAlias type="com.shoestar.client.prod.vo.ProdImageVO" alias="prodimage" />
		<typeAlias type="com.shoestar.client.cscenter.vo.QNAVO" alias="qna" />
		<typeAlias type="com.shoestar.client.event.vo.Range_DiscountVO" alias="rds" />
		<typeAlias type="com.shoestar.client.event.vo.Rd_ProductVO" alias="rdprod" />
		<typeAlias type="com.shoestar.client.event.vo.Rd_TypeVO" alias="rdtype" />
		<typeAlias type="com.shoestar.client.orders.vo.CartVO" alias="cart" />
		<typeAlias type="com.shoestar.client.orders.vo.OrdersVO" alias="orders" />
		<typeAlias type="com.shoestar.client.orders.vo.OrdersInsVO" alias="ordersins" />
		<typeAlias type="com.shoestar.admin.cscenter.vo.AdminDeliveryVO" alias="delivery" />
	</typeAliases>
</configuration>