@charset "UTF-8";

body > .container > .sidebar {
	margin-top: 30px;
}

.searchBox {
	margin: 0 0 50px;
}

.searchTable {
	margin-bottom: 0;
}

.searchTable > tfoot > tr > td {
	padding: 0;
}

.searchTable input[type="radio"] {
	margin-right: 3px;
	margin-left: 3px;
}

.searchTable label {
	margin-right: 10px;
}

.btnAdvanced {
	border-radius: 0;
	border-top: none;
}

.blackLine {
	border-bottom: 2px solid #333;
}

.prodList > tbody > tr > td {
	vertical-align: middle;
}

.pd_name {
	cursor: pointer;
}

.pimEditForm > * {
	margin-top: 5px;
}

.submenuActions {
	width: 180px;
	background-color: #eee;
	border: none;
	margin-bottom: 20px;
}

.clearButton {
	background-color: rgba(255, 255, 255, 0);
	border: none;
}

.sectionTitle {
	border-bottom: 1px solid #666;
	clear: both;
	padding-top: 30px;
}

.articleTitle {
	margin-top: 50px;
}

.margin-top {
	margin-top: 20px;
}

.emptyList {
	margin-top: 30px;
	margin-bottom: 30px;
	color: gray;
	text-align: center;
}

.stockWarning {
	color: darkred;
	font-weight: bold;
}

.text-sm {
	font-size: 0.8em;
}

.table > thead > tr.align-middle > td, .table > thead > tr.align-middle > th,
.table > tbody > tr.align-middle > td, .table > tbody > tr.align-middle > th,
.table > tfoot > tr.align-middle > td, .table > tfoot > tr.align-middle > th {
	vertical-align: middle;
}