@charset "UTF-8";

body > .container > .sidebar {
	margin-top: 30px;
}

.searchBox {
	margin: 0 0 50px;
}

.searchTable {
	margin-bottom: 0;
}

.searchTable > tfoot > tr > td {
	padding: 0;
}

.searchTable input[type="radio"] {
	margin-right: 3px;
	margin-left: 3px;
}

.searchTable label {
	margin-right: 10px;
}

.btnAdvanced {
	border-radius: 0;
	border-top: none;
}

.blackLine {
	border-bottom: 2px solid #333;
}

.prodList > tbody > tr > td {
	vertical-align: middle;
}

.pd_name {
	cursor: pointer;
}

.pimEditForm > * {
	margin-top: 5px;
}

.submenuActions {
	width: 180px;
	background-color: #eee;
	border: none;
	margin-bottom: 20px;
}

.sectionTitle {
	border-bottom: 1px solid #666;
	clear: both;
	padding-top: 30px;
}

.articleTitle {
	margin-top: 50px;
}

.margin-top {
	margin-top: 20px;
}